﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebApplication1.WebForm1" %>

<!--
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <iframe runat="server" id="myXMLFrame" src="~/MyXmlFile.xml" />
        <asp:Xml ID="Xml1" runat="server" DocumentSource="~/datasets/ds1.xsd" TransformSource="~/dataset2xf.xslt"></asp:Xml>
    </form>
</body>
</html>-->
